{% extends 'board_games/base.html' %}

{% block page_header %}
<h2>Loan {{ game }}</h2>
{% endblock page_header %}

{% block content %}

<form action="{% url 'board_games:add_loan' game.id %}" method="post"> 
  {% csrf_token %}
    <div class="form-group">
        <label for="return_date">Loan until:</label>
        <input type="date" class="form-control" id="return_date" name="return_date">
      </div>
    <button type="submit" class="btn btn-success">Loan</button>
    <a href="{% url 'board_games:game_info' game.id %}" type="button" class="btn btn-danger" >Cancel</a>
</form>

{% endblock content %}

