<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Gamers!</title>
</head>

<body>
    <nav>
        Nav bar
        <a href={% url 'board_games:index' %}>index</a>
        <a href={% url 'board_games:games' %}>games</a>
        <a href={% url 'board_games:add_game' %}>add_game</a>
        <a href={% url 'users:login' %}>login</a>
        <a href={% url 'users:log_out' %}>log_out</a>
        <a href={% url 'users:register' %}>register</a>
    </nav>
    <main>
        <div>
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>

</html>