{% extends 'board_games/base.html' %}

{% block page_header %}
<h2>Edit loan of {{ game }}</h2>
{% endblock page_header %}

{% block content %}


<form action="{% url 'board_games:edit_loan' loan.id %}" method="post">
    <div class="form-group">
        <label for="return_date">Loan untill:</label>
        <input type="date" class="form-control" id="return_date" name="return_date">
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'board_games:loans' %}" type="button" class="btn btn-danger" >Cancel</button></a>
</form>

{% endblock content %}