{% extends 'board_games/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
<h4>Edit {{ game }}</h4>
{% endblock page_header %}

{% block content %}
<form action="{% url 'board_games:edit_game' game.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'board_games:game_info' game.id %}" type="button" class="btn btn-danger" >Cancel</button></a>
    {% endbuttons %}
</form>
{% endblock content %}}