{% extends 'board_games/base.html' %}
{% block page_header %}
<div class="jumbotron">
    <h1 class="display-4">{{game.game}}</h1>
    <hr class="my-4">
    <p>{{game.genre}}</p>
    <p class="lead">{{game.description}}</p>
    <hr class="my-4">
    <p class="lead">
        {% if not game.loaned %}
        <a class="btn btn-lg btn-primary" href="{% url 'board_games:add_loan' game.id %}">Loan Game &raquo;</a>
        {% endif %}
        {% if game.owner == user %}
        <a class="btn btn-lg btn-primary" href="{% url 'board_games:edit_game' game.id %}">Edit game &raquo;</a>
        {% else %}
        <p>Game owner: {{ game.owner }}</p>
        {% endif %}
    </p>
</div>
{% endblock page_header %}
{% block content %}

{% if game.loaned %}
<div class="container">
    <h2> currently loaned by {{ loans.first.owner }} returndate : {{ loans.first.return_date }} </h2>
    <div class="card">
        <div class="card-header">The date of loan: {{ loans.first.date_loaned|date:'d.m.Y' }}</div>
        <div class="card-body">The game has to be returned on {{ loans.first.return_date|date:'d.m.Y' }}</div>
        <div class="card-footer">You still have: {{ loans.first.date_loaned |timeuntil:loans.first.return_date }}</div>
    </div>
</div>
{% endif %}


<div class="container">
    {% for loan in loans %}
    <h2>The game was loaned by {{ loan.owner }}</h2>
    <div class="card">
        <div class="card-header">The date of loan: {{ loan.date_loaned|date:'d.m.Y' }}</div>
        <div class="card-body">The game was returned on {{ loan.return_date|date:'d.m.Y' }}</div>
    </div>
    {% endfor %}
</div>

{% endblock content %}