{% extends 'board_games/base.html' %}
{% block page_header %}
This is the games page header
{% endblock page_header %}

{% block content %}


    {% for game in games %}
    
        {% if not game.loaned %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ game }}
                <small><a class="btn btn-outline-primary" href={% url 'board_games:game_info' game.id %}>{{game}}</a></small>
            </h4>
        </div>
        {% elif game.loaned %}
        <div class="card mb-3 bg-danger">
            <h4 class="card-header">
                {{ game }}
                <small><a class="btn btn-outline-primary" href={% url 'board_games:game_info' game.id %}>{{game}}</a></small>
            </h4>
        </div>
        {% endif %}
    {% empty %}
    <div>No games :(</div>
    {% endfor %}
{% endblock content %}