{% extends 'board_games/base.html' %}
{% block page_header %}
<div class="jumbotron">
  <h1>{{game.game}}</h1>
  <p><li>
  A board game is a game that involves counters or pieces moved or placed on a pre-marked surface or "board", 
according to a set of rules. Games can be based on pure strategy, 
chance or a mixture of the two, and usually have a goal that a player aims to achieve.
    </li>
</div>
{% endblock page_header %}
{% block content %}

<p>{{game.genre}}</p>
<p>{{game.year_published}}</p>

<p>{{game.owner}}</p>
<a href="{% url 'board_games:edit_game' game.id %}">Edit game</a>
{% if not game.loaned %}
<a href="{% url 'board_games:add_loan' game.id %}">Loan game</a>
{% else %}

<p>
    currently loaned by {{ loans.first.owner }} returndate : {{ loans.first.return_date }}
</p>
{% endif %}

<ul>
    {% for loan in loans %}

        <div class="container">
            <h2>The game has been loaned by {{ loan.owner }}</h2>
                 <div class="card">
                 <div class="card-header">The date of loan: {{ loan.date_loaned|date:'d.m.Y' }}</div>
                 <div class="card-body">The game has to be returned on {{ loan.return_date|date:'d.m.Y' }}</div> 
                 <div class="card-footer">You still have: {{ loan.date_loaned |timeuntil:loan.return_date}}</div>
        </div>
    {% endfor %}

</ul>
{% endblock content %}