{% extends 'board_games/base.html' %}

{% block page_header %}
<div class="d-flex justify-content-between align-items-center">
    <h3>Loans</h3>
    <h4>{% now "d.m.Y" %}</h4>
</div>
{% endblock page_header %}

{% block content %}
    {% for loan in loans %}
    <div class="card mb-3">
        <h4 class="card-header">
            {{ game }}
            <small><a class="btn btn-outline-primary" href={% url 'board_games:return_game' loan.id %}>Return {{loan.game}}</a></small>
            <small><a class="btn btn-outline-secondary" href={% url 'board_games:edit_loan' loan.id %}>Edit loan</a></small>
        </h4>
        <div class="card-body">

        <p> Game has been loaned on {{ loan.date_loaned|date:'d.m.Y' }}</p>
        <p> Game has to be returned on {{ loan.return_date|date:'d.m.Y' }}</p>
        </div>
    </div>
    {% empty %}
    <div>No loans</div>
    {% endfor %}

{% endblock content %}